<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <meta name="keywords" content="{{ site.keywords }}">
    <link href="/icon.png" rel="icon" type="image/x-png">  
    <link rel="image_src" href="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png">
    <meta property="og:image" content="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png">
    <meta name="twitter:image" content="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png">  
    <meta name="twitter:player:stream" content="https://anchor.fm/s/e7a67d1c/podcast/play/81682587/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2024-0-23%2Fed434511-fe73-a036-7173-ab18abbda364.mp3">  

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      <img id="main-img" src="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png" />

      <h1>{{ page.title }}</h1>
  
      {{ content }}

      <p><a href="/">Retour à l'accueil du SAV de la Tech</a></p>
    </div>

    {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

  </body>
</html>
