<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    
    <meta name="keywords" content="{{ site.keywords }}">
    <link href="/icon.png" rel="icon" type="image/x-png">

    <!-- custom episode image, except for twitter because it shows the title -->
    <link rel="image_src" href="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png">
    <meta property="og:image" content="{{ site.url }}/assets/thumbs/{{ page.id | split: '/' | last | split: '-' | first }}.png">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="FONUSYNG" defer></script>
    <!-- / Fathom -->
  </head>  
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      {% assign episode_number = page.id | split: '/' | last | split: '-' | first %}

      <img id="main-img" src="{{ site.url }}/assets/thumbs/{{ episode_number }}.png" />

      <h1>{{ page.title }}</h1>
  
      {{ content }}

      <p><a href="/question"><button>Proposer sujet pour un prochain épisode</button></a></p>

      {% assign filtered_resources = site.data.resources | where: 'episodes', episode_number %}

      {% if filtered_resources.size > 0 %}
      <h2>Ressources mentionnées dans l'épisode</h2>
      <details><summary>(🫣 À lire après écoute de l'épisode !)</summary>
        <ul>
          {% for resource in filtered_resources %}
        <li><a href="{{ resource.href }}">{{ resource.name }}</a>{% if resource.desc %}: {{ resource.desc }}{% endif %}</li>
          {% endfor %}
        </ul>
      </details>
      {% endif %}

      <p style="margin-top: 20px;"><a href="/">Retour à l'accueil du SAV de la Tech</a></p>
    </div>

    {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

  </body>
</html>
